@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

:root {
  --background: #f6f4f5;
  --foreground: #171717;
  --stroke: #3c414a;
  --okc: #007ac1;
  --sas: #061922;
  --make: #142df0;
  --miss: #ff3700;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  text-rendering: geometricPrecision;
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  background: var(--background);
}

body {
  background: var(--background);
  overflow-x: hidden;
  /* color: var(--foreground);
  font-family: var(--font-sans), sans-serif; */
}

h1,
h2,
h3,
p,
small {
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 115%;
}

h1 {
  font-size: 148px;
}

h2 {
  font-size: 96px;
}

h3 {
  font-size: 32px;
}

@media (max-width: 1023px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 24px;
  }
  .scoreboard {
    bottom: 24px !important;
  }
}

h3.gameclock {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 28px;
}

h4 {
  font-family: "Geist Mono", monospace;
  font-size: 18px;
}

p {
  font-family: var(--font-sans), sans-serif;
  font-size: 14px;
}
p.smaller {
  font-size: 12px;
}

small {
  display: block;
  font-family: var(--font-mono), monospace;
  font-size: 10px;
  line-height: 100%;
}

.stickygrid small {
  color: var(--stroke);
  opacity: 0.5;
}

.normalgrid small {
  color: var(--stroke);
  opacity: 1;
}

.maincourt * {
  opacity: 0.5;
  vector-effect: non-scaling-stroke;
}

.sas_courts svg {
  width: 108.5%;
  transform: translateY(-9%);
}

.okc_courts svg {
  width: 108.5%;
  transform: translateY(-9%);
}

.sas_courts svg g,
.okc_courts svg g {
  transform-origin: center;
  transform-box: fill-box;
  transition: all 0.12s ease;
}

.court g path {
  stroke-width: 2px;
  fill: rgba(255, 255, 255, 0.75);
}
