@import "tailwindcss";

:root {
  --background: #f6f4f5;
  --foreground: #171717;
  --stroke: #3c414a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  background: var(--background);
}

body {
  background: var(--background);
  /* color: var(--foreground);
  font-family: var(--font-sans), sans-serif; */
}

.court * {
  vector-effect: non-scaling-stroke;
}

.sa_courts svg {
  width: 108.5%;
  transform: translateY(-9%);
}

.okc_courts svg {
  width: 108.5%;
  transform: translateY(-9%);
}
